@{
    ViewBag.Title = "Cars";
}

@section Scripts{
     <script type="text/javascript">
        function GetVehicles() {
            $.ajax({
                url: "/Cars/GetAllCars",
                type: "GET",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    console.log(response["$values"]);
                    response["$values"].forEach(function(value)
                    {
                        console.log(value.engine.size);
                         $(".cars").append('<div class="card"> <ul class = "body"> <li class="header"> '+ '<li class = "author">'+ value.model + '</li>' +  '<li class = "author">'+ value.engine.type + value.engine.size + '</li>' + '<li class = "author">'+ value.type.name + '</li>' + '</li> </ul> <center> <img class="imagine" src="'+ value.img_url +'"> </center> </div>');
    
                    });
                },
                error: function (error) {
                    $(this).remove();
                    console.log(error);
                }
            });
        }
        GetVehicles();
    </script>
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/cars.css">


    <title>CarBase Rental</title>
</head>
<body>
 <div class="banner">
        <div class="content"> 
            <div class="searchbox">
                @*<input class= "searchbar" type="search" id="search" onblur="getVal()" data-search>*@
                <form action="/Cars/Cars" method="post">
                    @*@Html.TextBox("searchName")*@
                    @*<input type="submit" value="Search" class="searchb"/>*@
                    <input class="searchbar" id="searchName" name="searchName" type="text" value=""> 
                    <button class="searchb" id = "SearchButton"> Search </button>
               </form>
                <a asp-controller="Cars" asp-action="CarsManage"><button class="searchb" >Insert Car</button></a>
            </div>
            @* <div class="user-cards">
                <div class="border-cards">
                    <div class="card">
                      <ul class="body">
                          <li class="header">
                          <li class="author"></li>
                          <li class="author">@obj.make.name</li>
                          <li class="author">@obj.engine.type @obj.engine.size</li>
                          <li class="author">@obj.type.name</li>
                      </ul>
                     <center> <img class="imagine" src="@obj.img_url"></center>
                     <a asp-action="CarsDetails" asp-route-id="@obj.vehicleID"><button class="details">View Details</button></a>
                     <a asp-action="DeleteCar" asp-route-id="@obj.vehicleID"><button class="details">Delete</button></a>
                    </div>
                </div>
            </div> *@
            <div class = "user-cards">
                <div class="border-cards cars">

                </div>
            </div>

            </div>
        </div>
    </div>

</body>
</html>
